// Place all the styles related to the Universities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sidebar {
  min-height: 500px;

  .row {
      position: relative;
  }

  .social{
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;

    .social-share-button-twitter {
      background: url("/assets/twitter-icon.png") no-repeat;
      height: 32px;
      width: 32px;
    }

    .social-share-button-facebook {
      background: url("/assets/facebook-icon.png") no-repeat;
      height: 32px;
      width: 32px;
    }

    .social-share-button-google_plus {
      background: url("/assets/google-plus-icon.png") no-repeat;
      height: 32px;
      width: 32px;
    }

  }

  .university_actions {
    position: absolute;
    bottom: 0;
  }

}

#map{ 
  margin-top: 10px;
  width: 600px; 
  height: 400px; 
}
