.page-header
  %h3 #{@university.name}

.row
  .col-md-3
    = render 'sidebar'
  .col-md-9
    %h3 Faculties raiting
    = javascript_include_tag "//www.google.com/jsapi", "chartkick"
    = pie_chart @raiting
  
