.page-header
  %h3 #{@university.name}

.row
  .col-md-3
    = render 'sidebar'
  .col-md-9        
    %table.table.table-condensed
      %thead
        %th Faculties
      %tbody
        - @faculties.each do |faculty|
          %tr
            %td= link_to faculty.name, university_faculty_path(@university, faculty)
        
    %center
      = will_paginate @faculties, renderer: BootstrapPagination::Rails
